<section class="user-section space" >
  <div class="container">
    <div class="account-section">
      <div class="account-navigation">
        <ul style="display:flex; margin:20px 0; justify-content:center;">
          <li style="margin-right: 15px;" class="active"><a href="/account">My Account</a></li>
          <li style="margin:0 15px;"><a href="/account/addresses">View Addresses</a></li>
          <li style="margin:0 15px;"><a href="/account?view=order_history">Order History</a></li>
          {% if customer %}
            <li style="margin:0 15px;">{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
          {% endif %}
        </ul>
      </div>

      <div class="account-content">
        <div class="section-header">
          <h1 class="account-title">{{ 'customer.account.title' | t }}</h1>
        </div>
        <div class="row">
          <div class="col-four">
            <div class="address-cover">
              <h2 class="account-title">{{ 'customer.addresses.default_address' | t }}</h2>

              <h3 class="h5">{{ customer.name }}</h3>

              {% if customer.default_address != null %}
                <p>
                  {{ customer.default_address.address1 -}}
                  <br>

                  {% if customer.default_address.address2 != '' %}
                    {{ customer.default_address.address2 -}}
                    <br>
                  {% endif %}

                  {% if customer.default_address.city != '' %}
                    {{ customer.default_address.city -}}
                    <br>
                  {% endif %}

                  {% if customer.default_address.province_code != '' %}
                    {{ customer.default_address.province_code | upcase -}}
                    <br>
                  {% endif %}

                  {% if customer.default_address.zip != '' %}
                    {{ customer.default_address.zip | upcase -}}
                    <br>
                  {% endif %}

                  {% if customer.default_address.country != '' %}
                    {{ customer.default_address.country -}}
                    <br>
                  {% endif %}

                  {% if customer.default_address.phone != '' %}
                    {{ customer.default_address.phone }}
                  {% endif %}
                </p>
              {% endif %}

            </div>
          </div>
          <div class="col-eight" style="margin:60px 0;">
            <div class="address-cover">
              <h2 class="account-title">{{ 'customer.order.recent_order' | t }}</h2>

              {% comment %}
                If we have past orders, loop through each one
              {% endcomment %}

              {% paginate customer.orders by 20 %}
                {% if customer.orders.size != 0 %}
                  <div class="order-list">
                    <div class="table-wrapper">
                      <table class="full table">
                        <thead>
                          <tr>
                            <th class="or-id">{{ 'customer.orders.order_number' | t }}</th>
                            <th class="or-date">{{ 'customer.orders.date' | t }}</th>
                            <th class="orpro-detail">{{ 'customer.orders.product_name' | t }}</th>
                            <th class="or-total">{{ 'customer.orders.total' | t }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in customer.orders %}
                            <tr>
                              <td class="or-id">{{ order.name | link_to: order.customer_url }}</td>
                              <td class="or-date">{{ order.created_at | date: ' %d-%m-%Y' }}</td>
                              <td class="orpro-detail">
                                {% for line_item in order.line_items -%}
                                  {{- line_item.title | link_to: line_item.product.url -}}
                                {%- endfor %}
                              </td>
                              <td class="or-total">{{ order.total_price | money }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>

                {% else %}
                  <p>{{ 'customer.orders.none' | t }}</p>
                {% endif %}

                {% if paginate.pages > 1 %}
                  <div class="text-center">
                    {% render 'pagination-custom' %}
                  </div>
                {% endif %}
              {% endpaginate %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
